.nombre-empresa::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #fff;
    -webkit-text-stroke: 0vw var(--colorTitulos);
    border-right: 2px solid #fff;
    overflow: hidden;
    animation: efectoTexto 6s linear infinite;
    -webkit-animation: efectoTexto 6s linear infinite;
}

@keyframes efectoTexto{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}