*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    width: 100%;
    max-width: 1366px;
}
p{
    font-family: var(--fuenteTexto);
    font-weight: 600;
}

.titulo{
    margin: 1.5rem auto;
    font-size: 1.6rem;
    font-family: var(--fuenteTituloParrafos);
    color: var(--colorTitulos);

}

.titulo-servicio{
    font-family: var(--fuenteTituloParrafos);
    font: size 1.4rem ;
    color: var(--colorTitulos);
    text-align: center;
    margin: 1rem 0;
}