

header{
    position: relative;
    width: 100%;
    height: 350px;
    background: url(/images/home_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
   
}
header::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom,#75EB53 ,#4ED626 ,#3FAD1F,#227F07 );
    opacity: 0.55;
    z-index: -1;

}
header .svg-wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.svg-wave path{
    width: 100%;
    fill: #fff;
}
.contenedor-titulo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nombre-empresa{
    position: relative;
    font-family: var(--fuentePrincipal);
    font-size: 2.6rem;
    color: var(--colorTitulos);
    -webkit-text-stroke: 0.03vw  #fff;
}
.contenedor-titulo img{
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    z-index: -1;
    user-select: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.info-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-header p{
    text-align: center;
    width: 60%;
    font-size: 1.2rem;
}
.info-header p:last-of-type{
    margin-bottom: 1rem;
    }
.texto-importante{
    font-size: 1.8rem;
}
.info-header a{
    background: linear-gradient(var(--colorDebilDegradado),var(--colorFuerteDegradado));
    width: 150px;
    height: 28px;
    color: var(--colorTextoBotones);
    text-align: center;
    border-radius: 4px;
    font-family: var(--fuenteTexto);
    transition: transform 0.4s linear;
    -webkit-transition: transform 0.4s linear;
    -moz-transition: transform 0.4s linear;
    -ms-transition: transform 0.4s linear;
    -o-transition: transform 0.4s linear;
    text-decoration: none;
    font-weight: bold;
}
.info-header a:hover{
    cursor: pointer;
    transform: scale(1.10);
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
    text-decoration: underline;
}
