*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    
}
p{
    font-family: var(--fuenteTexto);
    font-weight: 600;
}