
.contenedor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.btn-api{
    position: relative;
    text-decoration:none ;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--fuenteTituloParrafos);
    text-align: center;
    padding: 0 14px;
    color: var(--colorTitulos);
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    line-height: 45px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn-api:hover{
    background:var(--colorTitulos);
    color: var(--colorTextoBotones);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.contenedor{
    margin: 1.5rem 0;
}
.contenedor .titulo{
    margin-top: 2rem;
}

/*Estilos para mostrar los servicios ofrecidos*/
.informacion-servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

}
.servicio{
    border: 1.5px solid var(--colorSVG);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.servicio img{
width: 85%;
height: 150px;
overflow: hidden;
}

.servicio .descripcion{
    color: var(--colorParrafos);
    font-size: 1.2rem;
    font-family: var(--fuenteTexto);
    margin: 1rem ;
    overflow: hidden;
}
.servicio a{
    border-radius: 2%;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3),-4px -6px 8px rgba(0, 0, 0, 0.3),1px 1.5px  rgba(0, 0, 0,1),-1px -1.5px  rgba(0, 0, 0,1);
    display: block;
    font-family: var(--fuenteTexto);
    font-weight: 600;
    background:linear-gradient(var(--colorDebilDegradado),var(--colorFuerteDegradado));
    line-height: 35px;
    margin-top: auto ;
    margin-bottom: 10px;
    width: 180px;
    text-align: center;
    text-decoration: none;
    color: var(--colorTextoBotones);
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.servicio a:hover{
    opacity: 0.8;
    transform: scale(1.10);
    transform:translateY(-4px);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
    -webkit-transform: scale(1.10);
}

form{
    background: #10D613;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .titulo{
    margin-top: 0;
    text-align: center;
    color: #fff;

}
.input{
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: solid 1px #fff;
    padding: 20px 10px;
}
.input::placeholder{
    color: #fff;
    font-family: var(--fuenteTexto);
}
.input[type="email"], .input[type="text"]{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    height: 35px;
    
}
textarea{
    margin: 0 auto;
    width: 95%;
    margin-bottom: 1rem;
}
.btn[type="submit"]{
    width: 150px;
    margin: auto;
    margin-bottom: 0.5rem;
    height: 45px;
    background: transparent;
    outline: none;
    color: #fff;
    font-family: (--fuenteTituloParrafos);
    font-size: 1.6rem;
    border: none;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}
.btn[type="submit"]:hover{
    background: #fff;
    color: var(--colorTitulos);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.footer{
    background:linear-gradient(to bottom, var(--colorDebilDegradado),var(--colorFuerteDegradado));
}
.footer p{
    text-align: center;
    color:#fff ;
    font-family: var(--fuenteTituloParrafos);
    font-size: 1.6rem;
}
.contenedor-lista{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
}
.redes-sociales li{
    list-style: none;
    display: inline-block;
}
.redes-sociales li i{
    text-align: center;
    font-size: 2.2rem;
    width: 45px;
    height: 45px;
}