:root{
    --colorDebilDegradado:#42F40F;
    --colorFuerteDegradado:#2EAD09 ;
    --colorIconos:#032E0C;
    --tamanioFuente:10px;
    --colorTitulos:#185F04 ;
    --colorParrafos:#484E46 ;
    --colorTextoBotones:#fff ;
    --fuentePrincipal: 'Poppins', sans-serif;
    --fuenteTituloParrafos:'Architects Daughter', cursive;
    --fuenteTexto:'Chakra Petch', sans-serif;
    --colorSVG:#10D613;
    --colorLogoFacebook:#1873EB;
    --colorLogoInstagram:#E67575;
    --colorLogoTwitter:#1CA6D6;
    --colorLogoLinkedin:#0073B1;
}